# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/

cmake-build-debug/

src/parser/parser.output
src/parser/parser.re
src/parser/parser.h
src/parser/parser.cpp
src/parser/location.hh

examples/*
!examples/*.si
